<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head"></head>
<body class="container">

<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<!--loop over the list of items, displaying each of those.-->
<ul>
    <li th:each="cheese : ${cheeses}" th:text="${cheese.name}"></li>
</ul>

<!--if no cheeses throw error message-->
<p th:unless="${cheeses.size()}"><i>No cheeses here</i></p>

<!--link to add items to the menu, pipes in info for which menu the user wants to add to-->
<p><a th:href="'/menu/add-item/' + ${menuId}">Add Cheese</a></p>

</body>
</html>